body {
    font-family: Arial, sans-serif;
    background-color: green;
}

.container {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container input[type="text"]
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: gray;
    border: none;
    color :read
    border-radius: 3px;
    cursor: pointer;
}

.container input[type="submit"] {
    width: 100%
    padding: 10px;
    background-color: gray;
    border: none;
}

